<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @ciudad.nombre %>
</p>

<p>
  <strong>Habitantes:</strong>
  <%= @ciudad.habitantes %>
</p>

<%= link_to 'Edit', edit_ciudad_path(@ciudad) %> |
<%= link_to 'Back', ciudads_path %>
